 <% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>
<div class="pagination"><%= will_paginate models %></div>
<div class="container-fluid">
        <div class="page-header clearfix">
          <div class="pull-left">
            <h2><%=@title%></h2>
          </div>
        </div>
      <table class="table table-hover">
              <thead>
		<tr>
			<th>#</th>
			<th><%= t('Dish Name') %></th>
			<th><%= t('Qty') %></th>
			<th><%= t('Brief Note') %></th>
            <th></th>
            <th></th>
	  	</tr>
                </thead>
                <tbody>
		<% models.each do |r| %>
		  <tr>
		  	<% if has_action_right?('show', params[:controller], r) %>
		  	  <td><%= link_to r.id, SUBURI + "/view_handler?index=1&url=#{Banquetx.banquet_course_class.find_by_id(r.course_id)}"  %></td>
		  	<% else %>
		  	  <td><%= r.id %></td>
		  	<% end %>
		  	<td><%= prt(r, :qty) %></td> 
			<td><%= prt(r, :brief_note) %></td>
			<%  if has_action_right?('update', params[:controller], r) %>   
              <td><%= link_to t('Edit'), SUBURI + "/view_handler?index=1&url=#{CGI::escape edit_menu_path(r)}", :class => BUTTONS_CLS['action']  %></td>
            <% end %>
		  </tr>
		<% end %>
	  </tbody>
       </table>
	
	<div class="btn-toolbar">
	   	<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
	    <%= link_to t('Add Dish'), SUBURI + "/view_handler?index=1&url=#{CGI.escape new_menu_path(banquet_id: @banquet.id, parent_record_id: @banquet.id, parent_resource: 'banquetx/banquets')}", :class => BUTTONS_CLS['action']  if @banquet && has_action_right?('create', params[:controller], @banquet) %>
	</div>
</div>
	
<% end %>
	
