<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
  <% else %>

<div class="container">
  <div class="page-header clearfix">
      <div class="pull-left">
        <h2><%=@title%></h2>
      </div>
    </div>
 <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
         <b><%= t('Dish') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
         <%= @menu.course.name%>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
             <b><%= t('Qty') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
           <%= @menu.qty %>
    </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
         <b><%= t('Brief Note') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
           <%= @menu.brief_note %>
    </div>
 </div>
 </div>
  <div class="row">
    <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
            <b><%= t('Last Updated By') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
            <%= @menu.last_updated_by.name %>
    </div>
 </div>
  
   <div class="btn-toolbar">
     <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
     <%= link_to t('Delete'), menu_path(@menu), :method => :delete, :confirm => I18n.t('Delete the record?'), :id => 'btn1_link', :class => BUTTONS_CLS['danger'] if has_action_right?('destroy', params[:controller], @menu) %>
    </div>  
	
</div>
<% end %>
